<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script th:src="@{/webjars/jquery/3.6.0/jquery.js}" rel="stylesheet"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/css/style.css}"/>
    <link th:href="@{/webjars/bootstrap/5.0.1/css/bootstrap.min.css}" rel="stylesheet"/>
    <title>Linkek</title>
</head>
<body>


<div class="container">
    <div class="page-head">
        <span class="title">Rendszerek linkjei</span>
    </div>
    <div class="sys-container">
        <p class="sys-name">Rendszer neve</p>
        <div class="row">
            <div class="col-lg-3">
                <img src="assets/images/temp-pic.jpg" alt="pic 1" class="template-img">
            </div>
            <div class="col-lg-9 description">
                ide kerül a rendszer leírása ide kerül a rendszer leírásaide kerül a rendszer leírásaide kerül a
                rendszer leírásaide kerül a rendszer leírásaide kerül a rendszer leírásaide kerül a rendszer
                leírásaide
                kerül a rendszer leírásaide kerül a rendszer leírásaide kerül a rendszer leírásaide kerül a rendszer
                leírásaide kerül a rendszer leírása
                leírásaide kerül a rendszer leírása
                <br><br>
                <a href="#" class="btn next-button">Tovább a rendszerre >></a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 details-link-container">
                <img src="assets/images/chevron.svg" class="chevron"/>
                <a class="details-link" data-bs-toggle="collapse" href="#leiras" role="button" aria-expanded="false"
                   aria-controls="leiras">
                    További részletek
                </a>
            </div>
        </div>
        <div class="row">
            <div class="collapse col-lg-12" id="leiras">
                <div class="card card-body">
                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
                    classical
                    Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at
                    Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from
                    a
                    Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the
                    undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et
                    Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the
                    theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum
                    dolor
                    sit amet..", comes from a line in section 1.10.32.
                </div>
            </div>
        </div>
    </div>

    <div class="sys-container">
        <p class="sys-name">Rendszer neve</p>
        <div class="row">
            <div class="col-lg-9 description">
                ide kerül a rendszer leírása ide kerül a rendszer leírásaide kerül a rendszer leírásaide kerül a
                rendszer leírásaide kerül a rendszer leírásaide kerül a rendszer leírásaide kerül a rendszer
                leírásaide
                kerül a rendszer leírásaide kerül a rendszer leírásaide kerül a rendszer leírásaide kerül a rendszer
                leírásaide kerül a rendszer leírása
                leírásaide kerül a rendszer leírása
                <br><br>
                <a href="#" class="btn next-button">Tovább a rendszerre >></a>
            </div>
            <div class="col-lg-3">
                <img src="assets/images/temp-pic.jpg" alt="pic 1" class="template-img">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 details-link-container">
                <img src="assets/images/chevron.svg" class="chevron"/>
                <a class="details-link" data-bs-toggle="collapse" href="#leiras2" role="button" aria-expanded="false"
                   aria-controls="leiras2">
                    További részletek
                </a>
            </div>
        </div>
        <div class="row">
            <div class="collapse col-lg-12" id="leiras2">
                <div class="card card-body">
                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
                    classical
                    Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at
                    Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from
                    a
                    Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the
                    undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et
                    Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the
                    theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum
                    dolor
                    sit amet..", comes from a line in section 1.10.32.
                </div>
            </div>
        </div>
    </div>

    <div class="sys-container">
        <p class="sys-name">Rendszer neve</p>
        <div class="row">
            <div class="col-lg-3">
                <img src="assets/images/temp-pic.jpg" alt="pic 1" class="template-img">
            </div>
            <div class="col-lg-9 description">
                ide kerül a rendszer leírása ide kerül a rendszer leírásaide kerül a rendszer leírásaide kerül a
                rendszer leírásaide kerül a rendszer leírásaide kerül a rendszer leírásaide kerül a rendszer
                leírásaide
                kerül a rendszer leírásaide kerül a rendszer leírásaide kerül a rendszer leírásaide kerül a rendszer
                leírásaide kerül a rendszer leírása
                leírásaide kerül a rendszer leírása
                <br><br>
                <a href="#" class="btn next-button">Tovább a rendszerre >></a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 details-link-container">
                <img src="assets/images/chevron.svg" class="chevron"/>
                <a class="details-link" data-bs-toggle="collapse" href="#leiras3" role="button" aria-expanded="false"
                   aria-controls="leiras3">
                    További részletek
                </a>
            </div>
        </div>
        <div class="row">
            <div class="collapse col-lg-12" id="leiras3">
                <div class="card card-body">
                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
                    classical
                    Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at
                    Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from
                    a
                    Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the
                    undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et
                    Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the
                    theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum
                    dolor
                    sit amet..", comes from a line in section 1.10.32.
                </div>
            </div>
        </div>
    </div>

</div>


<script th:src="@{/webjars/bootstrap/5.0.1/js/bootstrap.bundle.min.js}"></script>

<script th:inline="javascript">
    /*<![CDATA[*/

    let isOpen = false;

    $('.details-link-container').bind('click',function () {

        const rotateChevron = (deg) => {
            $(this).children('img.chevron')
                .animate(
                    {deg: deg},
                    {
                        duration: 300,
                        step: function (now) {
                            $(this).css({transform: 'rotate(' + now + 'deg)'});
                        }
                    }
                );
            isOpen = !isOpen;
        };
        !isOpen ? rotateChevron(180) : rotateChevron(360);
    })

    /*]]>*/
</script>

<link th:href="@{/webjars/jquery/3.6.0/jquery.js}" rel="stylesheet"/>

</body>
</html>